.country-list {
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .country-list__item {
    display: flex;
    align-items: center;
  }
  
  .country-list__flag {
    width: 55px;
    height: 40px;
    margin-right: 10px;
    position: relative;
  }
  
  .country-list__name {
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: 22px;
  }
  
  .country-info-item {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }